*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Other CDK items
cdk.context.json

# Parcel build directories
.cache
.build

# ignore custom build scripts...
*.bat
*.sh

# don't commit .env files - they can contain important info
.env
